#footerBlock {
    margin-top: 100px;
    background-color: #131a22;
    min-height: 420px;
    width: 100%;
    justify-content: center;

    display: flex;
}

.footMenu {
    padding: 15px;

    display: flex;
}

.fLine {
    margin-left: 25px;
    margin-top: 10px;
    color: white;
}

    .fLine:hover, .fLine:active {
        text-decoration: underline;
    }

.footBlockLine {
    
    margin-top: 10px;
}