.title {
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;

    justify-content: center;

}

.bgHome {

    color: white;
}

.nav-link {
    color: rgb(54, 174, 255);
    font-size: 17px;
}