.postContainer{
    margin: 10px 0;


}

.postWrapper {
    border: 1px solid #38444d;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    min-height: 120px;
    width: 598px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: #202c3c;
    color: white;
}

.post{
    display: flex;
    padding: 7px 16px 4px 16px;
}


.postTop {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
}

.postTopLeft {

    display: flex;

}

.postProfileImg {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.postUsername {
    margin-top: -2px;
    font-size: 15px;
    font-weight: 700;
}

.postDate {
    font-size: 12px;
}

ol {

    display: flex;
    justify-content: center;
}