.App {
  text-align: center;
  background-color: #151f2b;
  color: white;
}

.App-header {
  display: flex;
  font-size: calc(3px + 2vmin);
  background-color: #1C2938;
  max-height: 150px;
}

.App-logo {
  pointer-events: none;
  max-height: 180px;
}

.App-link {
  color: #61dafb;
}

.navbar {
  font-size: 20px;
}